{% extends 'base.html' %}
{% block content %}

<div class="container"> <!-- mejora el espaciado de la página -->
    <form action="" method="get"> <!-- especifica que al hacer clic en enviar, enviamos el formulario a la misma página -->
        <div class="mb-3"> <!-- agrega espacio inferior de 3 unidades -->
            <label for="searchMovie" class="form-label">Search for movie:</label> <!-- etiqueta asociada al campo de entrada -->
            <input type="text" class="form-control" name="searchMovie" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if searchTerm %}
        <h3>Searching for: {{ searchTerm }}</h3>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- define una fila con columnas para las tarjetas -->
        {% for movie in movies %}
        <div class="col">
            <div class="card">
                <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <p class="card-text">{{ movie.year }}</p>
                    <p class="card-text">{{ movie.genre }}</p>
                    <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    <br/>
    <br/>
    <br/>
    <h2>Entra a nuestra lista de correos:</h2>
    <form action="{% url 'signup' %}">
        <div class="mb-3">
            <label for="email" class="form-label">Ingresa tu correo:</label>
            <input type="email" class="form-control" name="email" />
        </div>
        <button type="submit" class="btn btn-primary">Iniciar</button>
    </form>
</div>
{% endblock content %}











